html,
body {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 60px auto;
}

.header {
  grid-column: 2/3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
header ul {
  list-style: none;
}
li {
  margin-right: 3em;
  display: inline-block;
}
section,
.container {
  grid-column: 2/3;
}

.intro,
.container {
  margin: 0 1em;
}
.about,
.grid,
.form-container {
  margin: 0 2em;
}
h1,
hr {
  display: inline-block;
}
hr {
  width: 20%;
  color: black;
}
.vertical-navbar {
  position: fixed;
  grid-column: 1/2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  z-index: 9999;
  background-color: rgb(157, 155, 155);
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-right: 1px solid;
}

.footer {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 0.5em;
}

/* DIVS  */
.intro {
  height: 100vh;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro * {
  margin: 0;
}
.intro p {
  font-size: medium;
}
.grid {
  display: grid;
  gap: 1em;
}
.grid p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  gap: 5px;
  justify-content: space-between;
  padding: 1em;
}
.links {
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: self-start;
}

/* IMGS */
.vertical-navbar img {
  width: 100%;
}

.right-column img {
  max-width: 100%;
  border-radius: 10px;
}

.card .icon {
  margin-top: 1rem;
  max-width: 30px;
}
.preview {
  display: none;
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
/* FONTS */
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

@media (min-width: 400px) {
  .card {
    background-color: cadetblue;
  }
  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .container {
    max-width: 600px;
  }
}
@media (min-width: 500px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
  .left-column {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .right-column {
    grid-column: 2/3;
  }
}

/* TRYING BUZZ EFFECT */
.portrait {
  animation: shake 1.5s;
  animation-iteration-count: initial;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0) rotate(1deg);
  }
  40% {
    transform: translate(1px, 0) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 0) rotate(-1deg);
  }
  80% {
    transform: translate(1px, 0) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
